.imageError{
    background:url('./assets/img/img32-min.png') no-repeat!important;
    height: 600px;
    background-size: cover;
    max-width: 100%;
    /*background-repeat: no-repeat;
    z-index: -1;
    position: relative;
    height: 494px;
    width: 1499px;
    background-size: contain;*/
}

h4{
    font-family: 'CoconRegular';
    font-size: 100px;
    color: #666666;
}

.p404{
    font-family: 'TreMS';
    font-size: 28px;
}