.imageError{
    background:url('./assets/img/img32-min.png') no-repeat!important;
    height: 280px;
    background-size: contain!important;
    max-width: 100%;
}

h4{
    font-family: 'CoconRegular';
    font-size: 100px;
    color: #666666;
}

.p404{
    font-family: 'TreMS';
    font-size: 28px;
}