.headerColorContactUs{
    background-color: $color-orange!important;
}

.headerMargin{
    padding: 3.3em 0em 5.3em 0em;
}

.iconHeader{
    height: 180px;
    @include respond-to($phone) {
        height: 100px;
        margin-top: 1.5em;
    }
    @include respond-to($phonelarge){
        height: 100px;
        margin-top: 1.5em;
    }
}

.alignIcon{
    display: block;
    margin-left: auto;
    margin-right: auto;

    @include respond-to($phone) {
        height: 4.5em;
        margin-top: 0.5em;
    }
    @include respond-to($phonelarge){
        height: 4.5em;
        margin-top: 0.5em;
    }
}//end

.alignBtn{
    display: inline-block;
    text-align: center;
}

.labelFormContactUs{
    color: gray!important;
    font-family: 'TreMS'!important;
}

.formContactUs{
    border: 1px solid $color-black!important;
}

.formBtnContactUs{
    background-color: $color-black;
    color: $color-white;
    font-family: 'TreMS'!important;
    padding: 0.5em 8.5em;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    @include respond-to($phone) {
        padding: 0.5em 0;
        width: 100%;
    }
    @include respond-to($phonelarge){
        padding: 0.5em 0;
        width: 100%;
    }
}