.headerColorContactUs{
    background-color: $color-orange!important;
}

.headerMargin{
    padding: 3.3em 0em 5.3em 0em;
}

.iconHeader{
    height: 180px!important;
}

.alignIcon{
    display: block;
    margin-left: auto;
    margin-right: auto;

    @include respond-to($phone) {
        height: 4.5em;
        margin-top: 0.5em;
    }
    @include respond-to($phonelarge){
        height: 4.5em;
        margin-top: 0.5em;
    }
}//end

.alignBtn{
    display: inline-block;
    text-align: center;
}

.labelFormContactUs{
    color: gray!important;
    font-family: 'TreMS'!important;
}

.formContactUs{
    border: 1px solid $color-black!important;
}
.formBtn{
    background-color: $color-black;
    color: $color-white;
    font-family: 'TreMS'!important;
    padding: 0.5em 8.5em;
    text-align: center!important;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.bgImg{
    background-size: cover!important;
    background-repeat: no-repeat;
    background-position: center center; 
    min-height: 600px;
    height: calc(100vh - 150px);
    background: url('./assets/img/img31-min.jpeg');
}

.bgImgForm{
    background-size: cover!important;
    background-repeat: no-repeat;
    background-position: center center; 
    min-height: 600px;
    height: calc(100vh - 150px);
    background: url('./assets/img/img29-min.jpeg');
}