.image{
    background-image:url('./assets/img/img02-min.png')!important;
    background-repeat: no-repeat;
    z-index: -1;
    position: relative;
    height: 726px;
    width: 1499px;
    background-size: contain;
}

.bgImgHome{
    background-size: cover!important;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 600px;
    height: calc(100vh - 150px);
    background: url('./assets/img/img03-min.png');
}

.textAlignImg{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
}

.paddingText{
    padding: 8.2rem 0;
}

.padding{
    padding: 2.5rem 0;
}

.alignBtn{
    display: inline-block;
    text-align: center;
}

.buttonProducts{
    background-color: transparent;
}

.labelFormNewsletter{
    color: gray!important;
    font-family: 'TreMS'!important;
}

.formStyle{
    border: 1px solid $color-black!important;
    padding: 0.5em 0.5em;
    display: inline-block;
    margin: 4px 2px 0 104%;
    width: 110%;
}

.formBtn{
    background-color: $color-black;
    color: $color-white;
    font-family: 'TreMS'!important;
    padding: 0.5em 8.5em;
    text-align: center!important;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
