.bgImgHeader{
    background:url('./assets/img/img02-min.png') no-repeat;
    height: 600px;
    background-size: cover;
} 
.bgImgHome{
    height: 500px!important;
    background: url('./assets/img/img03-min.png') no-repeat;
    background-size: cover;

    @include respond-to($phone) {
        background-size: contain;
        height: auto;
    }
}

.iconHome{
    @include respond-to($phone) {
        max-width: 100%;
        height: auto;
    }
    @include respond-to($phonelarge){
        max-width: 100%;
        height: auto; 
    }
    @include respond-to($tablet-large){
        margin-left: 130%;
        height: 190px;
    }
    @include respond-to($tablet-landscape){
        margin-left: 130%;
        height: 190px;
    }
    @include respond-to($large-desktop){
        height: 245px;
        margin-left: 120%;
    }
}

.textAlignImg{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
}

.paddingText{
    padding: 8.2rem 0;
}

.padding{
    padding: 2.5rem 0;
}

.alignBtn{
    display: inline-block;
    text-align: center;
}

.buttonProducts{
    background-color: transparent;
}

.labelFormNewsletter{
    color: gray!important;
    font-family: 'TreMS'!important;
}

.formStyle{
    border: 1px solid $color-black!important;
    padding: 0.5em 0.5em;
    display: inline-block;
}

.formBtn{
    background-color: $color-black;
    color: $color-white;
    font-family: 'TreMS'!important;
    padding: 0.5em 8.5em;
    text-align: center!important;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 100%;
}
    
.parallaxProducts{
    background-color: chartreuse;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: auto;
}
    
#imgParallaxProducts{
    background-image: url('./assets/img/img03-min.png');
}

.parallaxSize{
    height: 400px;
}
