body{
    margin: 0;
    padding: 0;
    background:#ffffff;
}
h1{
    font-size: 100px;
    font-weight: 800;
    font-family: 'AngelineVintage';
}
h2{
    font-size: 150px;
}
p{
    font-family: 'CoconRegular';
}