body{
    margin: 0;
    padding: 0;
    background:#ffffff;
}
h1{
    font-family: 'CoconRegular';
}
h3{
    font-family: 'ChronicDelivery';
}
p{
    font-family: 'TreMS';
}

footer{
    background-color: $color-light-green;
    padding: 1.2em;
    text-align: center;
    font-family: 'CoconRegular';
    color: gray!important;
}

.button{
    background-color: $color-white;
    border: 2px solid $color-black;
    color: $color-white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    :hover{
        background-color: $color-black;
        color: $color-white;
    }
}//end button