body{
    margin: 0;
    padding: 0;
    background:#ffffff;
    overflow-x: hidden;
}//end
h1, h2, h5{
    font-family: 'CoconRegular';
}//end
h3{
    font-family: 'ChronicDelivery';
}//end
p{
    font-family: 'TreMS';
}//end
a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}//end
nav{
    a{
        color: $color-white!important;
        font-family: 'CoconRegular';
        &:hover{
            color: $color-turquoise!important;
        }
    }
}//end
.top-nav-collapse{
    background-color: rgba(0,0,0,0.7)!important;
}
.marginLogo{
    margin: 6.5rem 0 0.5rem 0;
}//end
footer{
    background-color: $color-light-green;
    padding: 1.2em;
    text-align: center;
    color: $color-grey!important;
}//end
.pFooter{
    font-family: 'CoconRegular';
}
.pIcon{
    font-size: 1.5em;
}
.buttons{
    background-color: $color-white;
    border: 2px solid $color-black;
    color: $color-black;
    font-family: 'CoconRegular';
    padding: 8px 28px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    &:hover{
        background-color: $color-black;
        color: $color-white;
    }
}//end button