.headerColorPromotions{
    background-color: $color-yellow!important;
}

.promotionBtn{
    background-color: $color-black;
    color: $color-white;
    font-family: 'TreMS'!important;
    padding: 0.5em 0;
    text-align: center!important;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

.parallaxPromotions{
    background-color: chartreuse;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: auto;
}
    
#imgParallaxPromotions{
    background-image: url('./assets/img/img20-min.png');
}

.pWeight{
    font-weight: 700;
}