$color-white: #ffffff;
$color-black: #000000;
$color-grey: #808080;
$color-orange: #ffc298;
$color-green: #cbe7B6;
$color-light-green: #daecee;
$color-light-blue:#bfdbde;
$color-pink:#e9d0d6;
$color-purple:#dd98ff;
$color-yellow:#efef7a;
$color-turquoise:#95ecf3;